# http://editorconfig.org
root = true

# Slightly adapted from https://github.com/ministryofjustice/dps-gradle-spring-boot/blob/14d6d55dc826499677d11865bb7c356d808865dd/src/main/resources/.editorconfig
# to limit line lengths as current ktlint `intellij_idea` code style ends up folding class and function signatures too deeply

[*]
indent_style = space
indent_size = 2
charset = utf-8
max_line_length = 120
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true
ktlint_code_style = intellij_idea
ktlint_class_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than = 1
ktlint_function_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than = 3
ktlint_standard_function-expression-body = disabled

[*.java]
indent_size = 4
ij_java_class_count_to_use_import_on_demand = 99
ij_java_names_count_to_use_import_on_demand = 99
ij_java_use_single_class_imports = true
ij_java_insert_inner_class_imports = true
